@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #0c2135;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 10px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
  gap: 8px;
}

.header-button:hover {
  border: 1px solid black;
  background-color: black;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46pc;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

.bg-home {
  position: relative;
}

.bg-home:before {
  content: " ";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(8, 16, 30, 0.8), #A7222F), url("images/bg.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.8;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 20px;
  color: #fff;
  background-color: #b42b2b;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scalebutton 0.8s alternate infinite;
}

@keyframes scalebutton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
.sobre {
  background-color: #A7222F;
  overflow-y: hidden;
  color: #fff;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.sobre-content img {
  max-width: 570px;
  width: 100%;
}
.sobre-content .sobre div {
  flex: 1;
}

.sobre h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.sobre p {
  margin-top: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .sobre-content {
    flex-direction: column;
  }
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: black;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.serviços {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.service {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #A7222F;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgb(255, 0, 0);
  overflow: hidden;
}
.service img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.25s;
}

.service img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.service-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #A7222F;
  z-index: 99;
}

.service-info button {
  color: #fff;
  background-color: black;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .serviços {
    flex-direction: column;
  }
  .service {
    max-width: 740px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: white;
}
.footer img {
  width: 20%;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: white;
}

.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #0c2135;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: -2px;
  left: -140px;
  background-color: red;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}
body {
  font-family: "sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #A7222F;
}

button {
  font-family: "sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 60%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */